@page "/"

<div class="d-flex justify-space-between align-center mb-6">
    <MudText Typo="Typo.h5" Style="font-weight: 700;">Обзор трансляции</MudText>
    @* <MudChip T="string" Color="Color.Success" Size="Size.Small" Variant="Variant.Outlined">Online</MudChip> *@
</div>

<MudGrid Class="mb-6">
    <MudItem xs="12" sm="6" lg="3">
        <MudText>WIP</MudText>
    </MudItem>
</MudGrid>
